.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $text-black;
  background-color: $bg-primary;
  border: 1px solid rgba($bg-black, .1);
  border-radius: 50%;

  width: 30px;
  height: 30px;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $text-accent;
  }
}

.close-btn__icon {
  width: 18px;
  height: 18px;

  fill: currentColor;
}
