.logo {
  display: inline-block;

  font-family: $font-logo;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: inherit;

  &--black {
    color: $text-black;
  }

  &--white {
    color: $text-inverse;
  }
}

.logo__accent {
  color: $text-accent;
}
