.page-header {
  width: 100%;
  min-height: 80px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid #ECECEC;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header .site-nav {
  margin-left: 93px;
  margin-right: 50px;
}

.page-header .header-contact {
  margin-left: auto;
}
