.page-header {
  width: 100%;
  min-height: 80px;
  background-color: $bg-primary;
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 61px;
}

.page-header__contact-info {
  margin-left: auto;
}
