// ====================
// Сброс стилей
// ====================
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Наследование шрифтов для input и button
input,
textarea,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
// ====================
// Конец сброса стилей
// ====================

body {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  background: var(--bg-primary);
}
